body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Task 1 */
.center-image {
    text-align: center;
}

.center-image img {
    width: 500px;
}

/* Task 2 */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 250px;
    height: 180px;
}

/* Task 3 */
.layout {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #b5cdf9;
}

.topbar {
    background: rgb(3, 62, 180);
    color: white;
    padding: 10px;
    display: flex;

}

span {
    margin-right: 20px;
}

.layout-header {
    background: #f2f2f2;
    padding: 15px;
}

.layout-header a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.layout-gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.layout-gallery img {
    width: 220px;
    height: 250px;
    border: 1px solid #0606f2;
}